<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
<h1>Hola mundo 2</h1>
<button class="estilo-boton-uno">Hola</button>
<button style="background-color: burlywood">Hola2</button>
<input type="date">
<br/>
<br/>
<input type="email">
<br/>
<br/>
<input type="password">
<br/>
<br/>
<a href="https://www.facebook.com">Link</a>
<a href="/pagina2">Ir a pag 2</a>
</body>
</html>